.App {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(#ffff88, #ff5533);
  justify-content: center;
  text-align: center;
}

.App-logo{
  width: 50%;
  max-width: 300px;
}

.App-header {
  width: 100%;
  background-color: red;
  color:yellow;
  font-size: 20px;
  text-align: center; 
}

.App-footer {
  width: 100%;
  color: #ffff00;
  background-color: #004088;
  font-size: 15px;
  text-align: center;
}

.App-body {
  width: 100%;
  padding: 0%;
  margin: 0px;
  text-align: center;
  justify-content: center;
}
