.BuscaImagem {
  height: 30vmin;
  pointer-events: none;
}

.AppLink {
  color: #61dafb;
}

.centerButon {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0px;
}

.button{
  font-size: 14px;
  color: #ffff00;
  background-color: #004088;
  width: 100%;
  max-width: 200px;
  padding: 14px;
  margin: 4px;
  display: flex;
  text-align: center;
  justify-content: center;
  border: 3px solid #ffff00;
  border-radius: 15px;
  box-shadow: 1px 3px 8px rgba(0,0,0, 1.5);
}

.buscaJustificado{
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.LinkLista{
  text-decoration: none;
  font-size: 14px;
  color: #004088;
  background-color: #ffff00;
  background: linear-gradient(#ffff33, #ff5500);
  width: 90%;
  /*max-width: 200px;*/
  padding: 5px;
  margin: 4px;
  display: flex;
  text-align: center;
  justify-content: center;
  
  border-radius: 15px;
  border: 3px solid #004088;
  box-shadow: 1px 3px 8px rgba(0,0,0, 1.5);
}

.buscaColuna {
  width: 45%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
