

h1{
    font-size: 25px;
    font-weight: bolder;
    color: #f0cb65;
}
h2{
    font-size: 18px;
    font-weight: bolder;
    color: #00373a;
}
p{
    font-size: 14px;
    color: #00373a;
}
.logoAngular{
    width: 50%;
    
}