<div>    <h1>HOME</h1>
    <p>Página inicial.</p>
    <p>
        Este é meu projeto exemplo de SPA com Angular.<br/>
        <br/>
        <a class="menulink" href="/">Home</a> <br/>
        <a class="menulink" href="/angular">Angular</a> <br/>
        <a class="menulink" href="/backup">Backup</a> <br/>
        <a class="menulink" href="/games">games</a> <br/>
        <a class="menulink" href="/eu">eu</a> <br/>
    </p>
    <section>
        <app-btnprimary btn-text="Um componente botão"></app-btnprimary>
        <br/>
        <app-btnprimary btn-text="Outro butão"></app-btnprimary>
    </section>
</div>