<h1>{{ lingua("Instalando Angular"," Install Angular")}}</h1>
<br/>
<p>
  1º {{ lingua("Instale o NodeJS"," Install NodeJS")}}
</p>
<p>
  2º {{ lingua("Instale a CLI do Angular globalmente no seu computador."," Instale a CLI do Angular globalmente no seu computador.")}}
</p>
          
<app-janelacodigo  win-title = "Instalar o angular" win-text = "$ npm install -g angular/cli"/>
ou
<app-janelacodigo  win-title = "Instalar o angular" win-text = "$ sudo npm install -g angular/cli"/>
ou
<app-janelacodigo  win-title = "para instalar uma versão específica" win-text = "$ sudo npm install -g angular/cli17"/>

<p>
  3º Verifique a versão do angular que foi instalada.<br/>
</p>
<app-janelacodigo  win-title = "versão do angular" win-text = "$ ng version"/>
  ou
<app-janelacodigo  win-title = "versão do angular" win-text = "$ ng -v"/>

<p>
  4º Criar um novo projeto<br/>
</p>

<app-janelacodigo  win-title = "Criar projeto" win-text = "$ ng new nome_do_projeto"/>
  Ou criar um projeto já com server site render.
<app-janelacodigo  win-title = "Criar projeto com SSR" win-text = "$ ng new ssr"/>
         
<p>
  Gostaria de ativar o preenchimento automático? Isso configurará seu terminal para que pressionar TAB enquanto digita comandos Angular CLI mostrará opções possíveis e argumentos de preenchimento automático. (Ativar o preenchimento automático modificará os arquivos de configuração em seu diretório inicial) (y/n)<br/>
  Y<br/>
  Você gostaria de compartilhar dados de uso de pseudônimos sobre este projeto com a equipe Angular<br/>
  no Google de acordo com a Política de Privacidade do Google em https://policies.google.com/privacy. Para mais detalhes e como alterar esta configuração, consulte o diretório) (y/n)<br/>
  N<br/>
  Escolha o tipo de estilização [CSS/SCSS/Sass/Less]<br/>
  SCSS<br/>
  Do you want to enable Server-Side Rendering SSR (y/n)<br/>
  Y<br/>
</p>
  
<p>
  5º Entre no diretório do projetocriado<br/>
</p>

<app-janelacodigo  win-title = "Entre no diretório" win-text = "$ cd nome_do_projeto"/>
  
<p>6º Iniciar o servidor WEB local:</p>
<app-janelacodigo  win-title = "Iniciar servidor" win-text = "$ ng server"/>

Ou
<app-janelacodigo  win-title = "Iniciar servidor" win-text = "$ npm start"/>

<p>
  Para rodar o projeto em outra prota:
</p>
<app-janelacodigo  win-title = "escolha uma porta" win-text = "ng serve --port 3333 -o"/>

  
<h2>Build</h2>
<p>
  Builar o projeto para produção. <br/>
  Os arquivos exportados serão armazenados no diretório `dist/`.
</p>
<app-janelacodigo  win-title = "compilar projeto" win-text = "ng build"/>
          
<h2>Criar um novo componente</h2>
<p>
  Para  no Angular execute `ng g c diretorio/nomecomponete`.
</p>
<app-janelacodigo  win-title = "criar um novo componente" win-text = "$ ng g c pasta/carrocel"/>
ou
<app-janelacodigo  win-title = "criar um novo componente" win-text = "$ ng generate component pasta/carrocel"/>

  
<h2>Testes unitários</h2>
<p>
  Execute `ng test` para executar os testes de unidade via [Karma](https://karma-runner.github.io).
</p>
<app-janelacodigo  win-title = "Testes unitários" win-text = "ng test"/>    
  
<h2>end-to-end tests</h2>
<p>
  Execute `ng e2e` para executar os testes ponta a ponta (end-to-end) através de uma plataforma de sua escolha.<br/>
  Para usar este comando, você precisa primeiro adicionar um pacote que implemente recursos de teste ponta a ponta (end-to-end).
</p>
          
<p> 
  <app-janelacodigo  win-title = "Executar os testes ete" win-text = "ng e2e"/>    
</p>
  
<h2>Help</h2>
<p>
  Para obter mais ajuda sobre o Angular CLI, use `ng help` ou confira o [Angular CLI Overview and Command Reference](https://angular.io/cli).
</p>
<app-janelacodigo  win-title = "Help" win-text = "ng help"/>
  
<h2>Instalar Material</h2>
<p>Usar a biblioteca Material, Com estilos prontos (https://material.angular.io/).</p>
<app-janelacodigo  win-title = "Instalar Material" win-text = "ng add angular/material"/>    
<p>Escolha o tema.</p>
<p>Use os estilos de forma Global</p>
<p>Escolha animaçõaes.</p>
