.campo-de-batalha{
  background-image: url('/public/cenario.jpg');
  background-repeat: no-repeat;
  width: 100%; 
  max-width: 800px;
  height: 100%; 
  background-size: 100%;
}

.Imagem-Batalha{
  width: 90%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.App-Imagem-Inimigo{
  width: 90%;
}

.App-Imagem-vs{
  width: 50%;
}