.btn{
    
    font-family: sans-serif;
    font-size: 1rem; /*16px*/
    margin: 1rem;
    
    background-color: #00373a;
    color: #f0cb65;
  
    height: 3.8rem;
    text-align: center;
    
    width: 143px;
    text-decoration: none;
    border-radius: 4px;
    border: solid 1px #f0cb65;
    cursor: pointer;
    outline: 0;
  
    padding: 1.2rem;
    box-sizing: border-box;
    font-style: normal;
    transition-duration: 1s;
  
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

    &:disabled{
        opacity: 0.6;
    }

    &.primary{
        background: -webkit-linear-gradient(180deg, #006c70, #409c90);
        width: 243px;
        font-size: 14px;
    }
    &.secundary{
        background: #ffffff;
        width: 143px;
        font-size: 12px;
    }
}

.btEnviar:hover {
    transition-duration: 1s;
    color: #00373a;
    border: solid 1px #00373a;
    background-color: #ffffff;
  }