.btLinkbutGrafiteInvertido {
  font-family: oiTextRegular, sans-serif;
  background-color: #ffffff;
  border-radius: 3px;
  color: #212121;
  display: block;
  font-size: 1rem; /*16px*/
  height: 30px;
  text-align: center;
  width: 100%;
  max-width: 500px;
  text-decoration: none;
  border-bottom: solid 1px #ffffff;
  cursor: pointer;
  outline: 0;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  font-style: normal;
  transition-duration: 1s;
}
.btLinkbutGrafiteInvertido:hover {
  transition-duration: 1s;
  color: #ffffff;
  border: solid 1px #ffffff;
  background-color: #212121;
  background-image: none;
}
