<h1>Angular</h1>
  
          <p>{{ lingua("O que é Angular?","What is Angular?") }} </p>
  
          <p>
            {{ lingua("O AngularJS é um framework JavaScript que os desenvolvedores usam para criar aplicações web.",
            "AngularJS is a JavaScript framework that developers use to create web applications.")}} <br/>
          </p>
  
  
          <p>
            {{ lingua("Angula é formado por template. "," Angula is made up of a template. ")}}<br/> 
            {{ lingua("Angular é orientado a objeto. "," Angular is object-oriented. ")}}<br/>
            {{ lingua("Nota: Quem gosta de Java vai gostar de Angular. "," Note: Those who like Java will like Angular. ")}}<br/>
          </p>
  
          <p>
            {{ lingua("Todo componente do Angula é formado por 4 arquivos: ","  ")}}<br/> 
            {{ lingua("(TS: Classe do objeto) + (Arquivo HTML) +  (CSS) + (testes) "," (TS: Object class) + (HTML file) + (CSS) + (tests) ")}}<br/>
          </p>
  
          <h3>Pastas:</h3>
          <p>
            
            - Node_mudules : {{ lingua("bibliotecas "," libraries ")}}<br/>
            - src : {{ lingua("onde fica a aplicação "," where is the application ")}}<br/>
            - src/app : {{ lingua("onde ficam os componentes "," where are the components ")}}<br/>
            - ASSETS : {{ lingua("é a pasta pública de arquivos estáticos "," is the public folder for static files ")}}<br/>
          </p>
  
          <h3>Arquivos:</h3>
          <p>
  
            - app.routing.modules.ts : {{ lingua("Onde declaramos as rotas da aplicação. "," Where we declare the application routes. ")}}<br/>
            - app.component.html : {{ lingua("HTML do componente. "," Component HTML. ")}}<br/>
            - app.component.scss : {{ lingua("Estilização do componente. "," Component styling. ")}}<br/>
            - app.component.spec.ts : {{ lingua("testes "," tests ")}}<br/>
            - app.component.ts : {{ lingua("Onde declara o componente(caminho do html e css) e programa o componente. "," Where you declare the component (html and css path) and program the component. ")}}<br/>
          </p>
  
          <h3>{{lingua("PORTA "," PORT ")}} </h3>
       
          <p>
            {{ lingua("Por padrão o Angula roda na porta 4300. "," By default Angula runs on port 4300. ")}}<br/>
            {{ lingua("Para mudar a porta inclua o parâmetro port no arquivo angular.json. "," To change the port, include the port parameter in the angular.json file. ")}}<br/>
          </p>
          <p>
            {{ lingua("Diretivas do Angular parecem com os Hooks do React. ","Angular directives look like React Hooks. ")}}<br/>
          </p>
  
