<div>
    <h1>Eu</h1>
    <p>
        Meu nome é <b>Vinícius Valente Coutinho</b>, Analista de Sistemas full Stack,<br/>
        com experiência em configuração de CDN, Apache, AMP, SEO, NodeJS, PHP, Hadoop.<br/>
        Atualmente na equipe de Arquitetura de Data Analytics.<br/>
        Atuei como lider de equipe de desenvolvimento de projeto de BigData,<br/>
        líder de equipe em projeto AMP com foco em melhoria do SEO.<br/>
    </p>
    <p>
        Veja meu currículo aqui. <a href="https://vvcestudio.com.br/pt/eu/curriculo">https://vvcestudio.com.br/pt/eu/curriculo</a>
    </p>
</div>

